.productcard {
  margin: 0 auto;
  position: relative;
  background: #aaaaaa;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  height: 450;
  width: 350;
}

.extraborder {
  border: 2px solid red;
}

.bg-card {
  background: #aaaaaa;
}
