#loading {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 3px solid rgba(134, 130, 136, 0.3);
    border-radius: 50%;
    border-top-color: #EC1C23;
    animation: spin 5s ease-in-out infinite;
    -webkit-animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}